/* General Styles */
body {
	margin: 0;
	background-color: #88BAC0;

	/* Centrage global */
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100vh; /* prend toute la hauteur de la fenêtre */
}

#app-container {
	width: 100vw;
	height: 100vh;


	display: flex;
	justify-content: center;
	align-items: center;
}

.hero-content,
.section-content {
	color: white;
	width: 400px;
	padding: 20px;

	border-radius: 10px;


	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.hero-content h1 {
	font-size: 0.4rem;
	color: EAD3E3;
}

.hero-content p {
	font-size: 0.18rem;
	color: #1E1E1E;
}

.section-content h2 {
	font-size: 2.5rem;
}
